@import url("//unpkg.com/element-ui@2.15.3/lib/theme-chalk/index.css");
.container{

    min-height: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: initial;
    align-items: initial;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100vw;
    max-height: 145px;
    z-index: 20;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
.title{
    margin-top: 20px;
    margin-left: 20px;
    width:80%;
    text-align: left;
    float: left;
}
.userLogin{
    padding-top: 20px;
    width: 100px;
    text-align: center;
    float: left;
}
.el-dialog{
    height: 350px;
}
.myself-dialog .el-dialog__body{
    padding-top: 10px;
    padding-bottom: 0;
    height: 270px;
}
button{
    background-color: white;
    border: 0px;
    padding-top: 20px;
    text-decoration:underline;
    float: left;
    font-size: 20px;
    cursor: pointer;
}
.form_1{
    width:400px;
    height:300px;
    border:3px solid #f8f8f8;
    visibility: hidden;
    position: absolute;
    z-index: 999;
    opacity: 1;
    overflow: hidden;
    background-color: white;
    text-align: center;
    margin-top: 10%;
    margin-left: 35%;
    border-radius: 10px;
}
.open{
    visibility: visible;
    opacity: 1;
}
.userLoginImg{
    padding-top: 18px;
    padding-left: 5px;
    width: 30px;
    height: 30px;
    float: left;
}
.WorldDataList {
    min-height: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    -webkit-box-pack: initial;
    justify-content: initial;
    -webkit-box-align: initial;
    align-items: initial;
    padding: 30px;
    position: absolute;
    top: 280px;
    right: 20px;
    z-index: 10;
    background: rgb(255, 255, 255);
    gap: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    /*border: 1px solid rgb(204, 204, 204);*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
.ListData{
    margin-top: 16px;
    min-height: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    -webkit-box-pack: end;
    justify-content: flex-end;
    align-items: flex-end;
    color: rgb(71, 71, 71);
}
.DataNumber{
    font-size: 26px;
    font-weight: bold;
}
.DataCategory{
    font-size: 11px;
    text-transform: lowercase;
}
.GlobalSituations{
    min-height: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    -webkit-box-pack: initial;
    justify-content: initial;
    -webkit-box-align: initial;
    align-items: initial;
    width: 100%;
    padding: 20px;
}
.GlobalSituationsTitle{
    min-height: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: initial;
    align-items: initial;
}
.GlobalSituationsTitleWords{
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
}
.GlobalSituationsAllCharts{
    margin-top: 24px;
    min-height: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    -webkit-box-pack: initial;
    justify-content: initial;
    -webkit-box-align: initial;
    align-items: initial;
}
.GlobalSituationsCharts{
    flex-direction: column;
    display: flex;
    flex: 1 1 auto;
    -webkit-box-pack: initial;
    justify-content: initial;
    -webkit-box-align: initial;
    align-items: initial;
    min-height: 0px;
    min-width: 0px;
    width: 100%;
    margin-bottom: 20px;
}
.GlobalSituationsChartsTitle{
    min-height: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    -webkit-box-pack: justify;
    align-items: flex-start;
    margin-bottom: 20px;
}
.GlobalSituationsChartsTitleNum{
    font-size: 30px;
    font-weight: bold;
    color: rgb(71, 71, 71);
}
.GlobalSituationsChartsTitleName{
    font-size: 16px;
    text-transform: lowercase;
}
/*.GlobalSituationsChartsBar{*/
/*    min-height: 0px;*/
/*    min-width: 0px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex: 1 1 auto;*/
/*    -webkit-box-pack: initial;*/
/*    justify-content: initial;*/
/*    -webkit-box-align: initial;*/
/*    align-items: initial;*/
/*    max-width: 100%;*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    margin-top: 20px;*/
/*}*/

