<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COVID-19 Visualizations Dashboard </title>
    <script src="vue.js" type="text/javascript" charset="UTF-8"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>-->
<!--    &lt;!&ndash; 引入样式 &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
<!--    &lt;!&ndash; 引入组件库 &ndash;&gt;-->
<!--    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->

    <link rel="stylesheet" type="text/css" href="covid19.css">

<!--    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
<!--    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.15.3/lib/index.js"></script>

    <style>
        body{
            margin: 0;
        }
        svg {
            display: block;
        }

        svg:nth-child(1) {
            float: left;
        }

    </style>

</head>

<body>
<div id="container" class="container">
<div id="title" class="title">
    <h1 style="margin-bottom: 10px">COVID-19 Visualizations Dashboard</h1></div>
<div id="user" class="userLogin">

    <div id="app">
        <el-button style="padding-top: 25px; color: black" type="text" @click="dialogVisible = true">log in</el-button>
        <el-dialog
                title="Log in"
                :visible.sync="dialogVisible"
                width="500px"
                :before-close="handleClose" append-to-body
                class="myself-dialog">
            <p style="font-size: 15px; float: left">User's name:</p>
            <el-input v-model="inputuser" placeholder="name"></el-input>
            <p style="font-size: 15px; margin-top: 20px; float: left">User's password:</p>
            <el-input v-model="inputpassword" placeholder="password"></el-input>
            <div style="display: flex; flex-direction: column">
                <p style="font-size: 15px; margin-top: 20px; float: left;">A new user? </p>
                <p style="font-size: 15px; margin-top: 0px; float: left; text-decoration: underline; cursor: pointer">Register here</p>
            </div>


            <span slot="footer" class="dialog-footer">
                <el-button style="float: left; margin-left: 60px" @click="dialogVisible = false">Cancel</el-button>
                <el-button style="float: right; margin-right: 60px" type="primary" @click="dialogVisible = false">OK</el-button>
            </span>
        </el-dialog>
    </div>

    <script>
        var Main = {
            data() {
                return {
                    dialogVisible: false,
                    inputuser:'',
                    inputpassword:''
                };
            },
        };
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#app')
    </script>

    <img src="data/login.png" class="userLoginImg">
</div>


        </div>
            <script src="https://d3js.org/d3.v5.min.js"></script>
            <script type="text/javascript"></script>

            <script>
                // // 获取body标签可见区域的大小
                // const width = document.body.clientWidth;
                // const height = document.body.clientHeight;

                // 添加画布，大小占满body
                const svg = d3.select('body')
                    .append('svg')
                    .attr("width", "100%")
                    .attr("height", "900px")
                    .attr("display", "flex");


                // 请求地图数据
                d3.json('countries.geo.json').then(worldGeo => {
                    // 去掉南极洲
                    let worldGeoFeatures = worldGeo.features.filter(d => d.properties.name!=='Antarctica')
                    // 去掉南极洲后的世界json数据
                    let worldNoATAGeo = {
                        type: "FeatureCollection",
                        features: worldGeoFeatures
                    }

                    // 地图投影-墨卡托投影
                    let projection = d3.geoMercator().fitExtent([
                        [30,80],
                        [1050, 900]
                    ], worldNoATAGeo);
                    // 地理路径生成器
                    let path = d3.geoPath(projection);
                    // 绘制世界地图
                    let worldBase = svg.append('g')
                        .attr('class', 'worldMap')
                        .selectAll('path')
                        .data(worldGeoFeatures)
                        .join('path')
                        .attr('d', d => path(d))
                        .attr('fill', '#BBB')
                        .attr('stroke', '#ADADAD')


                    //获取全球疫情数据，并根据数据着色
                    d3.json('data/countryCases.json').then(covData => {
                        let level = ['0-100000', '100001-1000000', '1000001-3000000', '3000001-5000000', '5000001-10000000', '10000000以上']
                        // 颜色比例尺
                        const red = d3.scaleOrdinal(d3.schemeReds[6]).domain(level)
                        worldBase.style('fill', d => {
                            let name = d.properties.name;
                            let countryNew = covData.filter(item => item.year_week == "2021-26")
                            let countryJson = countryNew.filter(item => item.country == name)
                            let count = (countryJson.length > 0) ? countryJson[0].cumulative_count : 0
                            let levelIndex = count < 100000 ? 0 : count < 1000000 ? 1 : count < 3000000 ? 2 : count < 5000000 ? 3 :
                                    count < 10000000 ? 4 : 5
                            return red(level[levelIndex])

                        })
                    })
                })
            </script>

        <div class="WorldDataList">
            <div class="ListData">
                <span class="DataNumber">397,892</span>
                <span class="DataCategory">New Cases</span>
            </div>
            <div class="ListData">
                <span class="DataNumber">186,638,285</span>
                <span class="DataCategory">Confirmed Cases</span>
            </div>
            <div class="ListData">
                <span class="DataNumber">4,035,037</span>
                <span class="DataCategory">deaths</span>
            </div>
        </div>

        <!--<div style="padding: 100px 50px 10px;" >-->
<!--    <button type="button" class="btn btn-warning" title="Popover title"-->
<!--            data-container="body" data-toggle="popover" data-placement="right"-->
<!--            data-content="右侧的 Popover 中的一些内容" data-trigger="hover">-->
<!--        右侧的 Popover-->
<!--    </button>-->
<!--</div>-->

<!--<script>-->
<!--    $(function (){-->
<!--        $("[data-toggle='popover']").popover();-->
<!--    });-->
<!--</script>-->

<div class="GlobalSituations">
    <div class="GlobalSituationsTitle">
        <h2 class="GlobalSituationsTitleWords">Global Situation</h2>
    </div>
    <div class="GlobalSituationsAllCharts">
        <div class="GlobalSituationsCharts">
            <div class="GlobalSituationsChartsTitle">
                <span class="GlobalSituationsChartsTitleNum" style="font-size: 50px">186,638,285</span>
                <span class="GlobalSituationsChartsTitleName" style="font-size: 20px; opacity: 0.8">confirmed cases</span>
            </div>
            <div class="GlobalSituationsChartsBar" id="BarChart1">
                <img src="data/barchart1.png" style="display: block; margin: auto; max-width: 80%; height: auto">
<!--                <script>-->
<!--                    const innersvg = d3.select("#BarChart")-->
<!--                                        .append("svg")-->
<!--                                        .attr("width", "100%")-->
<!--                </script>-->
            </div>
        </div>

        <div class="GlobalSituationsCharts">
            <div class="GlobalSituationsChartsTitle">
                <span class="GlobalSituationsChartsTitleNum" style="font-size: 50px">4,042,921</span>
                <span class="GlobalSituationsChartsTitleName" style="font-size: 20px; opacity: 0.8">deaths</span>
            </div>
            <div class="GlobalSituationsChartsBar" id="BarChart2">
                <img src="data/barchart2.png" style="display: block; margin: auto; max-width: 80%; height: auto">
<!--                <script>-->
<!--                    const innersvg = d3.select("#BarChart")-->
<!--                        .append("svg")-->
<!--                        .attr("width", "100%")-->
<!--                </script>-->
            </div>
        </div>
    </div>
</div>

<!--<div align="center">-->
<!--    <img src="data/add-circle.png" style="width: 30px; height: 30px;">-->
<!--</div>-->

</body>

</html>