#linecharts{
    padding-left: 30px;
}

.AxisXDate{
    padding-top: 20px;
}

.AxisXText{
    font-weight: bold;
}



.popuppage{
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px black;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)

}